.header {
    margin-left: 50rem;
    color: #964B00;
    
}

.position {
    position: fixed;
    top: 0;
    width:100%;
}

.logo1 {
    color: #800000;
}

.logo2 {
    color: #5f9ea0;
}

span {
    color: #964B00;
}

.header2 {
    text-align: center;
    color: #5f9ea0;
}

.p-text {
    text-align: justify;
    padding: 100px;
    margin-left: 50px;
    margin-right: 50px;
    column-count: 2;
    column-gap: 40px;
    color: #800000;

}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.first-container {
    width: 300px;
    height:300px;
    background-color: #800000;
    border-radius: 18px;
    margin-top: 5rem;
    padding-top:15px;
}

.second-container {
    width: 300px;
    height:300px;
    background-color:#5f9ea0;
    border-radius: 18px;
    margin-top: 5rem;
    padding-top:15px;
}

.third-container {
    width: 300px;
    height:300px;
    background-color:#964B00;
    border-radius: 18px;
    margin-top: 5rem;
    padding-top:15px;
}
.footer-text{
    text-align:center;
    padding: 50px 0;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    color: #964B00;
}